.global__erreur{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    // height: 100vh;
    background-image: url("images/ilepalmier.jpg");
    object-fit: cover;
}
.menu__404 a{
    display: flex;
    justify-content: space-around;
    text-align: center;
    // width: 100%;
    text-decoration: none;
    background-color: #c2a4f1;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
    margin: 1em;
}
.texte_404{
    width: 50vw;
    background-color: rgba(255, 192, 203, 0.75);
    padding: 0.5em;
}
.titre_404{
    text-align: center;
    background-color: rgba(255, 192, 203, 0.75);
    padding: 0.5em;
}