.global__erreur{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // background-color: rgb(249, 125, 145);
    margin: 1em;
    border-radius: 10em;
    height: 50vh;
}
.menu__404 a{
    display: flex;
    justify-content: space-around;
    text-align: center;
    // width: 100%;
    text-decoration: none;
    background-color: #c2a4f1;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
}