.hero{
    // background-image: url(images/galaxie.jpg);
    min-height: 100vh;
    
    
}
.hero__carrousel{
    position : absolute;
    min-height: 100vh;
    width : 100%;
    background-position: center;
    z-index : -1;
    opacity: 0;
    transition: opacity 0.5s ease;
    // display: none;
    &.actif{
        opacity: 1;
        transition: opacity 0.5s ease;

    }
}
.hero__radio{
    display: flex;
    flex-direction: row;
    width: 1em;
    justify-content: space-between;
    align-items: center;
}
// .article__list div {
//     margin-bottom: 20px;
//     padding: 10px;
//     border-bottom: 1px solid #ccc;
// }